{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnerGize</title>

    <link rel="stylesheet" href="{% static 'CSS/padrao.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'CSS/inicio.css' %}" type="text/css">

</head>
<body>
    <div class="abertura">
        <div id="login_abertura">
            <h1><img src="{% static 'images/icons/logo_energize.png' %}" alt="logo" width="350"></h1>
    
            <div>
                <h3>Tentando subir para o repositório</h3>
                <a href="index">FEED</a>
                <a href="infos">INFO</a>
                <a href="login">LOGIN</a>
            </div>
            
        </div>
    </div>

    
</body>
</html>