{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnerGize</title>

    <link rel="stylesheet" href="{% static 'CSS/padrao.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/inicio.css' %}">

</head>
<body>
    <div class="abertura">
        
        <div class="inicio_login">
            <img class="logo" src="{% static 'images/icons/logo_energize_2.png' %}" alt="logo">

            <!-- <p>Como deseja acessar?</p> -->

            <a href="login_1">
                <button class="btn_login">Entrar</button>
            </a>
        </div>
    
        <a class="exemplo" href="inicio">inico</a>   <!-- inicio-->

    
    </div>

    <script src="{% static 'js/inicio.js' %}"></script> <!-- "/JS/inicio.js" -->
</body>
</html>